html
    head
        meta(charset="UTF-8")
        meta(meta name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="keywords" content="HTML,CSS,XML,JavaScript")
        meta(name="author" content="MR. Loll")
        title tinker
        //- link(rel="shortcut icon" type="image/x-icon" href="images/responsive.ico")
        link(rel="stylesheet" href="css/all.min.css" type="text/css")
        link(rel="stylesheet" href="css/bootstrap.min.css" type="text/css")
        link(rel="stylesheet" href="css/app.css" type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap" rel="stylesheet")

    body








    script(src="js/jQuery-3-4-1.min.js")
    script(src="js/app.js")
